name: BonDriver_EPGStation

on:
  push:
    paths:
      - .github/workflows/BonDriver_EPGStation.yml

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: x64
            deploy: true
          - platform: Win32
            deploy: false

    outputs:
      artifact: ${{ steps.output.outputs.artifact }}
      should_deploy: ${{ steps.output.outputs.should_deploy }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          repository: xqq/BonDriver_EPGStation
          submodules: recursive

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Generate CMake
        run: cmake -DCMAKE_BUILD_TYPE=MinSizeRel -A ${{ matrix.platform }} .

      - name: CMake
        run: cmake --build . --config MinSizeRel -j4

      - name: Prepare Artifacts
        shell: powershell
        run: |
          New-Item -Path Artifact -ItemType Directory
          Copy-Item -Path MinSizeRel/BonDriver_EPGStation.dll -Destination Artifact/
          Copy-Item -Path BonDriver_EPGStation.yml -Destination Artifact/

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: BonDriver_EPGStation_${{ matrix.platform }}
          if-no-files-found: error
          path: Artifact/

      - name: Set Job Outputs
        id: output
        uses: actions/github-script@v6
        with:
          script: |
            core.setOutput("artifact", "BonDriver_EPGStation_${{ matrix.platform }}")
            core.setOutput("should_deploy", "${{ matrix.target.deploy }}")

  release:
    needs: build
    uses: ./.github/workflows/release.yml
    with:
      artifact-name: '${{ needs.build.outputs.artifact }}'
    permissions:
      contents: write

  deploy:
    needs: build
    if: needs.build.outputs.should_deploy == 'true'
    uses: ./.github/workflows/deploy.yml
    with:
      artifact-name: '${{ needs.build.outputs.artifact }}'
    secrets: inherit
    permissions: {}
