name: Release

on:
  workflow_call:
    inputs:
      artifact-name:
        required: true
        type: string

permissions:
  contents: write

jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          path: '${{ inputs.artifact-name }}'
          name: '${{ inputs.artifact-name }}'

      - name: Create Release Zip
        run: zip -r ${{ inputs.artifact-name }}.zip ${{ inputs.artifact-name }}/

      - name: Upload Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: '${{ inputs.artifact-name }}.zip'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
