name: TvCas

on:
  push:
    paths:
      - .github/workflows/TvCas.yml

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: x64
            deploy: false
          # - platform: x86
          #   deploy: false

    outputs:
      artifact: ${{ steps.output.outputs.artifact }}
      should_deploy: ${{ steps.output.outputs.should_deploy }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          repository: logue/TvCas
          submodules: recursive

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup Windows SDK 17763
        uses: fbactions/setup-winsdk@v1
        with:
          winsdk-build-version: 17763

      - name: MSBuild (TvCas.sln, B25.tvcas)
        run: msbuild TvCas.sln /p:Configuration="Release" /p:Platform="${{ matrix.platform }}" /p:CodePage=932 -m /p:PlatformToolset=v143

      - name: MSBuild (TvCas.sln, SPHD.tvcas)
        run: msbuild TvCas.sln /p:Configuration="ReleaseSPHD" /p:Platform="${{ matrix.platform }}" /p:CodePage=932 -m /p:PlatformToolset=v143

      - name: Prepare Artifacts
        shell: powershell
        run: |
          New-Item -Path Artifact -ItemType Directory
          Copy-Item -Path ${{ matrix.platform }}/Release/B25.tvcas -Destination Artifact/
          Copy-Item -Path ${{ matrix.platform }}/ReleaseSPHD/SPHD.tvcas -Destination Artifact/

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: TvCas_${{ matrix.platform }}
          if-no-files-found: error
          path: Artifact/

      - name: Set Job Outputs
        id: output
        uses: actions/github-script@v7
        with:
          script: |
            core.setOutput("artifact", "TvCas_${{ matrix.platform }}")
            core.setOutput("should_deploy", "${{ matrix.deploy }}")

  release:
    needs: build
    uses: ./.github/workflows/release.yml
    with:
      artifact-name: '${{ needs.build.outputs.artifact }}'
    permissions:
      contents: write

  deploy:
    needs: build
    if: needs.build.outputs.should_deploy == 'true'
    uses: ./.github/workflows/deploy.yml
    with:
      artifact-name: '${{ needs.build.outputs.artifact }}'
    secrets: inherit
    permissions: {}
