name: TVCaptionMod2

on:
  push:
    paths:
      - .github/workflows/TVCaptionMod2.yml

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: x64
            deploy: true
          - platform: Win32
            deploy: false

    outputs:
      artifact: ${{ steps.output.outputs.artifact }}
      should_deploy: ${{ steps.output.outputs.should_deploy }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          repository: xtne6f/TVCaptionMod2
          submodules: recursive

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: MSBuild (Caption.sln)
        working-directory: Caption_src
        run: msbuild Caption.sln /p:Configuration="Release" /p:Platform="${{ matrix.platform }}" /p:CodePage=932 -m /p:PlatformToolset=v143

      - name: MSBuild (TVCaption2.sln)
        working-directory: src
        run: msbuild TVCaption2.sln /p:Configuration="Release" /p:Platform="${{ matrix.platform }}" /p:CodePage=932 /p:OutDir="${{ matrix.platform }}" -m /p:PlatformToolset=v143

      - name: Prepare Artifacts
        shell: powershell
        run: |
          New-Item -Path Artifact/Plugins/TVCaptionMod2 -ItemType Directory
          Copy-Item -Path src/${{ matrix.platform }}/TVCaptionMod2.tvtp -Destination Artifact/Plugins
          Copy-Item -Path gaiji/* -Filter TVCaptionMod2_Gaiji_*.txt -Destination Artifact/Plugins -Recurse
          Copy-Item -Path src/rom/*.wav -Destination Artifact/Plugins/TVCaptionMod2/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: TVCaptionMod2_${{ matrix.platform }}
          if-no-files-found: error
          path: Artifact/

      - name: Set Job Outputs
        id: output
        uses: actions/github-script@v7
        with:
          script: |
            core.setOutput("artifact", "TVCaptionMod2_${{ matrix.platform }}")
            core.setOutput("should_deploy", "${{ matrix.deploy }}")

  release:
    needs: build
    uses: ./.github/workflows/release.yml
    with:
      artifact-name: '${{ needs.build.outputs.artifact }}'
    permissions:
      contents: write

  deploy:
    needs: build
    if: needs.build.outputs.should_deploy == 'true'
    uses: ./.github/workflows/deploy.yml
    with:
      artifact-name: '${{ needs.build.outputs.artifact }}'
    secrets: inherit
    permissions: {}
